body {
  font-family: Roboto;
  color: #757575;
}

.agencja-header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: red;
}

.studio-main-page {
}

.agencja-title {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.webstudio {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.web {
  color: #2196f3;
}

/* .studio {
  font: "Oleo Script";
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.03em;
} */

.navigation {
  list-style-type: none;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.agencja-team {
  background: #f5f4fa;
}

.navigation-current {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  float: left;
  padding-right: 46px;
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  float: left;
  padding-right: 46px;

  color: #212121;
}

.contact {
  text-decoration: none;
}

.contact:hover {
  color: #2196f3;
}

.agencja-footer {
  background: #2f303a;
}

.test {
  color: black;
  text-decoration: none;
}
